table {
    box-shadow: 0 0 .25em black;
}
td, th {padding: 1em;}

table {
    border-collapse: collapse;
}

table tr {
    border: .1em solid black;
}

.odd {
    background-color: #d5dbd8;
}

body {
    margin-left: 4em;
    margin-top: 2em;
}